[submodule "XmlSchemas.Common.XmlScript"]
	path = XmlSchemas.Common.XmlScript
	url = https://github.com/HendriXML/XMLSchemas-Common-XmlScript.git
[submodule "Script.Common.VISA"]
	path = Script.Common.VISA
	url = https://github.com/HendriXML/XMLScripts-Common-VISA.git
[submodule "Executable"]
	path = Executable
	url = https://github.com/HendriXML/XMLScriptInterpreter.git
