[submodule "XmlSchemas.Common.XmlScript"]
	path = XmlSchemas.Common.XmlScript
	url = ../XMLSchemas-Common-XmlScript.git
[submodule "Script.Common.VISA"]
	path = Script.Common.VISA
	url = ../XMLScripts-Common-VISA.git
[submodule "Executable"]
	path = Executable
	url = ../XMLScriptInterpreter.git
